<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuoteBook</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="home is-preload">
    <div id="page-wrapper">
        <section id="banner">
            <div class="inner">
                <h2><%= quotes.length < 1 ? "A wise man once said that the easiest way to add quotes to this database is with the Manage Quotes button over there." : `" ${quotes[Math.floor(Math.random() * quotes.length)].quote} "` %></h2>      
                <div class = "root">
                        <a href="/quotes"> Manage Quotes</a>
                        <a href="/logout">Logout</a>
                </div>
            </div>
  
        </section>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/animation.js"></script>
</body>

</html>