<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuoteBook</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Create Your VERY OWN Quotebook!</h1>
    </header>
    <main>
        <div class="form">
            <Ul>
                <li class="btn"><a href="/login">Login</a>
            </li>
                <li class="btn"><a href="/signup">Sign Up!</a></li>
            </Ul>
        </div>
        <div class="logo">
            <span>QUOTE
                  BOOK
            </span>
        </div>
    </main>
        
    </main>
</body>

</html>