<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="database">
    <h2>Hello, <%= user.userName %>. Please insert your favorite quote below:</h2>
    <div class="box">
        <div class="organizeLeft">
            <ul>
                <% quotes.forEach( el=> { %>
                    <li data-id='<%=el._id%>'>
                        <span class='del'> <i class="fa-solid fa-trash-can"></i> </span>
                        <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.quote %></span>
                    </li>
                    <% }) %>
            </ul>  
        </div>
        <div class="organizeRight">
            <form action="/quotes/createQuote" method='POST'>
                <input type="text" placeholder="Enter Quote" name='quoteItem'>
                <input type="submit" class="btn2">
            </form>    
    
            <a href="/home">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/c631cbe3f4.js" crossorigin="anonymous"></script>
</body>

</html>