<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>QuoteBook</h1>
    </header>
    <main>
        <h2>Quotes</h2>

        <ul>
            <% quotes.forEach( el=> { %>
                <li class='quoteItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.quote %></span>
                    <span class='del'> <i class="fa-solid fa-trash-can"></i> </span>
                </li>
                <% }) %>
        </ul>
    
        <h2>Hello, <%= user.userName %>. Please insert your favorite quote here:</h2>
    
        <form action="/quotes/createQuote" method='POST'>
            <input type="text" placeholder="Enter Quote" name='quoteItem'>
            <input type="submit" class="btn">
        </form>    
    </main>
<footer>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</footer>
    <script src="js/main.js"></script></footer>
    <script src="https://kit.fontawesome.com/c631cbe3f4.js" crossorigin="anonymous"></script>
</body>

</html>