/* GENERAL STYLING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    background: lightskyblue;
}

header {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

h1{
    font-size: 3rem;
    transition: 0.5s ease all;
}

h1:hover{
    transform: scale(1.1);
    color: purple;
}

h2 {
    font-size: 2rem;
    transition: 0.5s ease all;
    padding: 0.5rem 2rem;
}

h2:hover{
    transform: scale(1.1);
    color: purple;
    background: transparent;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 75vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

main ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FORMS AND BUTTONS */

.form {
    margin: 25%;
    padding: 2rem;
}

input {
    width: 75%;
    height: 2rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

input:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

input:active{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background: lightblue;
}

.btn {
    background: blueviolet;
    color: lightskyblue;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 1px solid purple;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s ease all;
    width: 75%;
}

.btn:hover {
    background: purple;
    color: lightskyblue;
}

.btn a {
    background: blueviolet;
    color: lightskyblue;
    padding: 0.5rem 1rem;
    margin: 1rem;
    transition: 0.5s ease all;
    border-radius: 1rem;
    text-align: center;
}

.btn a:hover {
    background: purple;
    color: lightskyblue;
}

.btn a:active {
    background: blueviolet;
    color: lightskyblue;
}

.btn a:active:hover {
    background: purple;
    color: lightskyblue;
}

/* FONT AWESOME DELETE BUTTON */

.del {
    font-size: 2rem;
}
.del:hover {
    cursor: pointer;
    color: red;
}

/* QUOTE OF THE DAY SPECIFICS */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-style: oblique;
}

.quote p::before {
    content: open-quote;
    font-size: 4rem;
    color: #99b9ff;
}

.quote p {
    border: 4px dashed purple;
    padding: 1rem;
    border-radius: 10%;
    font-style: italic;
    transition: 0.5s ease all;
}

.quote p::after {
    content: close-quote;
    font-size: 4rem;
    color: #99b9ff;
}

.quote p:hover {
    border: 4px solid blue;
    padding: 2rem;
    border-radius: 20%;
    transform: scale(1.1);
    color: purple;
}

/* LOGO STYLING, THIS COULD PROBABLY BE BETTER */

.logo {
    font-size: 10rem;
    color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease all;
}

.logo:hover {
    color: purple;
}

/* FOOTER NAV LINK STYLING */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightskyblue;
}

footer ul {
    display: flex;
    gap: 1.5rem;
}

footer ul li {
    padding: 1rem;
    border: 1px solid blue;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

footer ul li:hover {
    border: 1px solid purple;
    transform: scale(1.2);
    cursor: pointer;
}

/* MOBILE RESPONSIVE STUFF */

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }

    .logo {
        display: none;
    }
    h1 {
        font-size: 1.5rem;
    }

    input {
        width: 66%;
    }

    .btn {
        width: 66%;
    }
}
